@media print{
	#drop-target{display:none}
	.entity-yeti-walker{display:none}
	a[href]:after{display:none;visibility:hidden}
	.circle{box-shadow:none}
	.page{max-width:unset;max-height:unset;width:8.5in;height:11in;box-shadow:none;margin:0; border-radius: 0;padding:1em}
	.entity-wave-footer{display:none}
	.page-break{page-break-after:always}
	body{margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;-webkit-print-color-adjust:exact!important;background-color:#fff;overflow:hidden;transform:none;-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;-webkit-transform:none}
  .sub-section-list{height:2.1rem}
	.expand {display:none}
	#typewriter{display:none}
  .entity-mountain{display:none}
	#root{background:#fff;padding:0}
	.page-footer { display: none }
}
